{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

<header class="site-home-header">
    {{> header-background background=@site.cover_image}}
    {{!--Special header-image.hbs partial to generate the background image--}}
    <div class="inner">
        {{> "site-nav"}}
        <div class="site-header-content">
            <h1 class="site-title">
                {{@site.title}}
            </h1>
            <h2 class="site-description">{{@site.description}}</h2>
        </div>
    </div>
    </div>
</header>

{{!-- The main content area --}}
<main id="site-main" class="site-main outer">

    <div class="inner posts">

        <div class="post-feed">

            <article class="post-card post">

                <a class="post-card-image-link"
                    href="https://square.site/book/854X10JN16XGP/dream-girl-sport-fishing-charters-ocracoke-nc">
                    <img class="post-card-image"
                        srcset="https://images.unsplash.com/photo-1421217668576-c17a9a841471?ixlib&#x3D;rb-1.2.1&amp;q&#x3D;80&amp;fm&#x3D;jpg&amp;crop&#x3D;entropy&amp;cs&#x3D;tinysrgb&amp;w&#x3D;2000&amp;fit&#x3D;max&amp;ixid&#x3D;eyJhcHBfaWQiOjExNzczfQ 300w,
                    https://images.unsplash.com/photo-1421217668576-c17a9a841471?ixlib&#x3D;rb-1.2.1&amp;q&#x3D;80&amp;fm&#x3D;jpg&amp;crop&#x3D;entropy&amp;cs&#x3D;tinysrgb&amp;w&#x3D;2000&amp;fit&#x3D;max&amp;ixid&#x3D;eyJhcHBfaWQiOjExNzczfQ 600w,
                    https://images.unsplash.com/photo-1421217668576-c17a9a841471?ixlib&#x3D;rb-1.2.1&amp;q&#x3D;80&amp;fm&#x3D;jpg&amp;crop&#x3D;entropy&amp;cs&#x3D;tinysrgb&amp;w&#x3D;2000&amp;fit&#x3D;max&amp;ixid&#x3D;eyJhcHBfaWQiOjExNzczfQ 1000w,
                    https://images.unsplash.com/photo-1421217668576-c17a9a841471?ixlib&#x3D;rb-1.2.1&amp;q&#x3D;80&amp;fm&#x3D;jpg&amp;crop&#x3D;entropy&amp;cs&#x3D;tinysrgb&amp;w&#x3D;2000&amp;fit&#x3D;max&amp;ixid&#x3D;eyJhcHBfaWQiOjExNzczfQ 2000w"
                        sizes="(max-width: 1000px) 400px, 700px" loading="lazy"
                        src="https://images.unsplash.com/photo-1421217668576-c17a9a841471?ixlib&#x3D;rb-1.2.1&amp;q&#x3D;80&amp;fm&#x3D;jpg&amp;crop&#x3D;entropy&amp;cs&#x3D;tinysrgb&amp;w&#x3D;2000&amp;fit&#x3D;max&amp;ixid&#x3D;eyJhcHBfaWQiOjExNzczfQ"
                        alt="Ocean" />
                </a>

                <div class="post-card-content">

                    <a class="post-card-content-link"
                        href="https://square.site/book/854X10JN16XGP/dream-girl-sport-fishing-charters-ocracoke-nc">

                        <header class="post-card-header">
                            <div class="post-card-primary-tag">Booking</div>
                            <h2 class="post-card-title">Fishing Charters</h2>
                        </header>

                        <section class="post-card-excerpt">
                            <p>Click here to book a trip on the Dream Girl!</p>
                        </section>

                    </a>
                    <footer><a class="btn "
                            href="https://square.site/book/854X10JN16XGP/dream-girl-sport-fishing-charters-ocracoke-nc"
                            role="button">Booking</a>
                    </footer>

                </div>

            </article>

            <article class="post-card post">

                <a class="post-card-image-link" href="/tag/fishing"></a>
                <img class="post-card-image"
                    srcset="https://images.unsplash.com/photo-1498522437123-3a7624402acb?ixlib&#x3D;rb-1.2.1&amp;q&#x3D;80&amp;fm&#x3D;jpg&amp;crop&#x3D;entropy&amp;cs&#x3D;tinysrgb&amp;w&#x3D;2000&amp;fit&#x3D;max&amp;ixid&#x3D;eyJhcHBfaWQiOjExNzczfQ 300w,
                    https://images.unsplash.com/photo-1498522437123-3a7624402acb?ixlib&#x3D;rb-1.2.1&amp;q&#x3D;80&amp;fm&#x3D;jpg&amp;crop&#x3D;entropy&amp;cs&#x3D;tinysrgb&amp;w&#x3D;2000&amp;fit&#x3D;max&amp;ixid&#x3D;eyJhcHBfaWQiOjExNzczfQ 600w,
                    https://images.unsplash.com/photo-1498522437123-3a7624402acb?ixlib&#x3D;rb-1.2.1&amp;q&#x3D;80&amp;fm&#x3D;jpg&amp;crop&#x3D;entropy&amp;cs&#x3D;tinysrgb&amp;w&#x3D;2000&amp;fit&#x3D;max&amp;ixid&#x3D;eyJhcHBfaWQiOjExNzczfQ 1000w,
                    https://images.unsplash.com/photo-1498522437123-3a7624402acb?ixlib&#x3D;rb-1.2.1&amp;q&#x3D;80&amp;fm&#x3D;jpg&amp;crop&#x3D;entropy&amp;cs&#x3D;tinysrgb&amp;w&#x3D;2000&amp;fit&#x3D;max&amp;ixid&#x3D;eyJhcHBfaWQiOjExNzczfQ 2000w"
                    sizes="(max-width: 1000px) 400px, 700px" loading="lazy"
                    src="https://images.unsplash.com/photo-1498522437123-3a7624402acb?ixlib&#x3D;rb-1.2.1&amp;q&#x3D;80&amp;fm&#x3D;jpg&amp;crop&#x3D;entropy&amp;cs&#x3D;tinysrgb&amp;w&#x3D;2000&amp;fit&#x3D;max&amp;ixid&#x3D;eyJhcHBfaWQiOjExNzczfQ"
                    alt="Beach" />
                </a>

                <div class="post-card-content">

                    <a class="post-card-content-link" href="/tag/fishing">

                        <header class="post-card-header">
                            <div class="post-card-primary-tag">Fishing</div>
                            <h2 class="post-card-title">Latest Catch</h2>
                        </header>

                        <section class="post-card-excerpt">
                            <p>Click here to see past trips and big catches!</p>
                        </section>

                    </a>
                    <footer><a class="btn " href="/tag/fishing" role="button">Fishing</a>
                    </footer>
                </div>

            </article>

            <article class="post-card post">

                <a class="post-card-image-link" href="/author/stephen/">
                    <a class="post-card-image-link" href="/gallery/">
                        <img class="post-card-image" srcset="/content/images/size/w300/2020/09/57390166_2141604442543364_2462368513881276416_o.jpg 300w,
                    /content/images/size/w600/2020/09/57390166_2141604442543364_2462368513881276416_o.jpg 600w,
                    /content/images/size/w1000/2020/09/57390166_2141604442543364_2462368513881276416_o.jpg 1000w,
                    /content/images/size/w2000/2020/09/57390166_2141604442543364_2462368513881276416_o.jpg 2000w"
                            sizes="(max-width: 1000px) 400px, 700px" loading="lazy"
                            src="/content/images/size/w600/2020/09/57390166_2141604442543364_2462368513881276416_o.jpg"
                            alt="Dream Girl" />
                    </a>

                    <div class="post-card-content">

                        <a class="post-card-content-link" href="/author/stephen/">

                            <header class="post-card-header">
                                <div class="post-card-primary-tag">captain</div>
                                <h2 class="post-card-title">Capt. Stephen</h2>
                            </header>

                            <section class="post-card-excerpt">
                                <p>Click here to learn about the Dream Girl!</p>
                            </section>

                        </a>

                        <footer><a class="btn " href="/author/stephen" role="button">Captain</a>
                        </footer>
                    </div>
            </article>
            <div class="subscribe-success-message">
                <a class="subscribe-close" href="javascript:;"></a>
                You've successfully subscribed to Dream Girl Sport Fishing!
            </div>
            <div class="subscribe-form">
                <h1 class="subscribe-overlay-title" style="color: white">Subscribe to Dream Girl Sport Fishing</h1>
                <p class="subscribe-form-description">Stay up to date! Get all the latest & greatest posts
                    delivered
                    straight
                    to your inbox</p>
                <form data-members-form="subscribe">
                    <div class="form-group">
                        <input class="subscribe-email" data-members-email placeholder="youremail@example.com"
                            autocomplete="false" />
                        <button class="button primary" type="submit">
                            <span class="button-content">Subscribe</span>
                            <span class="button-loader"><svg version="1.1" id="loader-1"
                                    xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                    x="0px" y="0px" width="40px" height="40px" viewBox="0 0 40 40"
                                    enable-background="new 0 0 40 40" xml:space="preserve">
                                    <path opacity="0.2" fill="#000" d="M20.201,5.169c-8.254,0-14.946,6.692-14.946,14.946c0,8.255,6.692,14.946,14.946,14.946
s14.946-6.691,14.946-14.946C35.146,11.861,28.455,5.169,20.201,5.169z M20.201,31.749c-6.425,0-11.634-5.208-11.634-11.634
c0-6.425,5.209-11.634,11.634-11.634c6.425,0,11.633,5.209,11.633,11.634C31.834,26.541,26.626,31.749,20.201,31.749z" />
                                    <path fill="#000" d="M26.013,10.047l1.654-2.866c-2.198-1.272-4.743-2.012-7.466-2.012h0v3.312h0
C22.32,8.481,24.301,9.057,26.013,10.047z">
                                        <animateTransform attributeType="xml" attributeName="transform" type="rotate"
                                            from="0 20 20" to="360 20 20" dur="0.5s" repeatCount="indefinite" />
                                    </path>
                                </svg></span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>

{{> site-header}}

{{!-- The #contentFor helper here will send everything inside it up to the matching #block helper found in default.hbs --}}
{{#contentFor "scripts"}}
<script>

    // NOTE: Scroll performance is poor in Safari
    // - this appears to be due to the events firing much more slowly in Safari.
    //   Dropping the scroll event and using only a raf loop results in smoother
    //   scrolling but continuous processing even when not scrolling
    $(document).ready(function () {

        var nav = document.querySelector('.site-nav-main .site-nav');
        var feed = document.querySelector('.post-feed');

        var lastScrollY = window.scrollY;
        var lastWindowHeight = window.innerHeight;
        var lastDocumentHeight = $(document).height();
        var ticking = false;

        function onScroll() {
            lastScrollY = window.scrollY;
            requestTick();
        }

        function onResize() {
            lastWindowHeight = window.innerHeight;
            lastDocumentHeight = $(document).height();
            requestTick();
        }

        function requestTick() {
            if (!ticking) {
                requestAnimationFrame(update);
            }
            ticking = true;
        }

        function update() {
            var trigger = feed.getBoundingClientRect().top + window.scrollY;
            var progressMax = lastDocumentHeight - lastWindowHeight;

            // show/hide nav
            if (lastScrollY >= trigger - 20) {
                nav.classList.add('fixed-nav-active');
            } else {
                nav.classList.remove('fixed-nav-active');
            }

            ticking = false;
        }

        window.addEventListener('scroll', onScroll, { passive: true });
        window.addEventListener('resize', onResize, false);

        update();

    });

    $(document).ready(function () {
        if (action == 'subscribe') {
            $('body').addClass("subscribe-success");
        }

        $('.subscribe-success-message .subscribe-close').click(function () {
            $('.subscribe-success-message').addClass('close');
        });

        // Reset form on opening subscrion overlay
        $('.subscribe-button').click(function () {
            $('.subscribe-overlay form').removeClass();
            $('.subscribe-email').val('');
        });
    });
</script>

{{/contentFor}}